body {
  background-color: lightgray;
}

p {
  font-family: Arial;
  color: blue;
}

mark {
  font-family: 'PT Serif', serif;
  color: black;
}

.data {
  font-family: Georgia;
  color: darkblue;
}

.loc {
  font-weight: bold;
}

li {
  line-height: 1.4em;
}

table {
  background-color: lightsalmon;
}
