body {
  background-color: lightgray;
}

header {
  background-color: gray;
}

p {
  font-size: 18px;
  font-family: Arial;
  color: blue;
}

mark {
  background-color: salmon;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  color: black;
}

li {
  line-height: 1.4em;
}

table {
  font-size: 18px;
  background-color: lightsalmon;
}

td {
  text-align: center;
  color: blue;
}

.history {
  margin-left: 300px;
  padding: 10px;
  background-color: lightsalmon;
  width: 60%;
}

.data {
  font-size: 18px;
  font-family: Georgia;
  color: darkblue;
}

.loc {
  font-size: 18px;
  font-weight: bold;
}

.imagesTable {
  margin-left: 300px;
}
